<!DOCTYPE html>
<html>
	<head>

		<title>A.R. Tutorials</title>
		<!-- ADDING CODE FOR RESPONSIVE WEB PAGES(WORKS WELL ON PHONES, TABLETS) JAN 12 2021-->
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
		 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- ADDING JS CODE FOR MAKING RESPONSIVE JAN 12 2021 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- GOOGLE ADSENSE JAN 10 2021-->
		<script data-ad-client="ca-pub-6270231682324791" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		
	
		<!-- font awesomr  -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="/stylesheets/testimonials.css">
		<!-- ADDING GOOGLE FONTS  -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap" rel="stylesheet">
	 <!-- CAROUSEL FOR TESTIMONIALS -->
	  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
	  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet" />
	  
	</head>
	<body>
		<nav class="navbar fixed-top navbar-expand-lg ">
        <a class="navbar-brand" href="/" style="font-family: 'Monoton', cursive; color: white; margin-left: 20px; padding-top: 10px;"> A.R.T.</a>
	</nav>
<!-- 		
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
   <a class="navbar-brand" href="/">
	   <i class="fa fa-coffee" aria-hidden="true"></i>       -->
	   <!-- <img  src="" alt="Card image cap" > -->
	   <!-- A.R.T.</a> -->
	  
	<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav ml-auto ">
 <% if(!currentUser){ %>
		 <li class="nav-item active"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item active"><a class="nav-link" href="/register">Sign Up</a></li>
                    <% } else { %>

		   <li class="nav-item active">
			<a class="nav-link" href="#">Signed In As <%= currentUser.username %> <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link" href="/logout">Logout</a>
		  </li>
           <% } %>

		</ul>

	  </div>
</nav> -->
    
    <div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>