<%- include("./partials/header") %> <!-- didn't use .. coz this file n partials r in same directory i.e views -->

<div class ="container">
	<header class="jumbotron jumbo">
			<div class="container">
				<h1><span class="glyphicon glyphicon-tent"></span>  Welcome to A.R.Tutorials</h1>
				<p>"Nothing in life is to be feared, it is only to be understood. Now is the time to understand more, so that we may fear less." 
				― Marie Curie
				<!-- </div>  -->
				</p>
				<!-- <p> -->
				<!-- <a class= "btn btn-primary btn-large" href ="/campgrounds/new">Add new  Campground</a>
				</p> -->
			
    
			</div>
		
		</header>
	
	<!-- courses offered -->
	<div class="well course">
  <h1>Courses Offered!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button"style="margin-left:450px">Learn more</a></p>
</div>
	
	<!-- online classes -->
	<div class= "well online">
		<h1>
			how to take online class 
		</h1>
		<embed type="application/pdf" src="A.R.T ONLINE CLASSES.pdf" height="620px" width="100%"/>
	</div>
	
	<!-- notes -->
	
	<div class= "well notes">
		<h1>
			we give notes after every class . sample the free notes below .
		</h1>
		
		<a class= "btn btn-primary btn-lg" href ="/notes" style="margin-left:450px">NOTES</a>
		
	</div>
	
	
	<!-- location -->
	<div class="well location">
  <h1>Address and contact Info!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button"style="margin-left:450px">Learn more</a></p>
</div>


<div class=" well founder">
	 <h2 class="text-center">
		<strong>Words From Founders :</strong> 
	 </h2>
   <div class="row">
	  <div class="col-sm-6 col-md-4">
		 <div class="thumbnail">
		   <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" >
		  <div class="caption">
				<h3>Anil Tiwari</h3>
				<p>I speak blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
			  <p><strong>Contact Info:</strong> 9810474627</p>
				
		  </div>
		</div>
       </div>
		
	   
		   <div class="col-sm-6 col-md-4 " style="margin-left:350px;" >
			<div class="thumbnail ">
			   <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" >
			 <div class="caption">
				<h3>Rakesh Tiwari</h3>
				<p>I speak blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
				 <p><strong>Contact Info:</strong> 9810474627</p>
				
			 </div>
			</div>
		</div>
	   
	   
 </div>	
		</div>


 
	
</div>
<%- include("./partials/footer") %>