  
<!DOCTYPE html>
<html lang="en">
    <head><!-- GOOGLE ADSENSE JAN 10 2021-->
		<script data-ad-client="ca-pub-6270231682324791" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>A.R.T.</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async: true></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
		
<div class="container intro">
	<div class="row">
   <div id="landing-header">
 		<h1>A.R. Tutorials (Est. 1988) </h1>
	 
	   <blockquote class="blockquote  text-center quote">
		   <span class="glyphicon glyphicon-quote-left"></span>
		  <p class="mb-0 " id="text"> “If a man empties his purse into his head, no man can take it away from him. An investment in knowledge always pays the best interest.”</p>
		  <footer class="blockquote-footer " > <cite title="Source Title" id="author">Ben Franklin</cite></footer>
     </blockquote>
	
	 <div id = "buttons">
		
		 <a href="/explore" class="btn btn-md btn-success">Explore</a>
	 </div>
	
  </div>
</div>
		</div> 
		
 
	
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include("./partials/footer") %>