  
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>A.R.T.</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async: true></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
		
<div class="container intro">
	<div class="row">
   <div id="landing-header">
 		<h1>A.R. Tutorials (Est. 1988) </h1>
	 
	   <blockquote class="blockquote  text-center quote">
		   <span class="glyphicon glyphicon-quote-left"></span>
		  <p class="mb-0 " id="text"> “If a man empties his purse into his head, no man can take it away from him. An investment in knowledge always pays the best interest.”</p>
		  <footer class="blockquote-footer " > <cite title="Source Title" id="author">Ben Franklin</cite></footer>
     </blockquote>
	
	 <div id = "buttons">
		 <a href="/login" class="btn btn-md btn-success">Login</a>
		 <a href="/register" class="btn btn-md btn-success">Sign Up</a>
	 </div>
	 
  </div>
</div>
		</div> 
		
 <div class=" well">
	 <h2 class="text-center">
		<strong>Words From Founders :</strong> 
	 </h2>
   <div class="row">
	  <div class="col-sm-6 col-md-4">
		 <div class="thumbnail">
		   <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" >
		  <div class="caption">
				<h3>Anil Tiwari</h3>
				<p>I speak blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
				
		  </div>
		</div>
       </div>
		
	   <div class="col-sm-6 col-md-4 second">
			<div class="thumbnail ">
			   <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" >
			 <div class="caption">
				<h3>Rakesh Tiwari</h3>
				<p>I speak blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
				
			 </div>
			</div>
		</div>
		
 </div>	
		</div>
	
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include("./partials/footer") %>