<!-- <embed type="application/pdf" src="A.R.T ONLINE CLASSES.pdf" height="620px" width="100%"/> -->

<%- include("./partials/header") %> <!-- didn't use .. coz this file n partials r in same directory i.e views -->

<div class="container">
	

	
	<div class="card-deck justify-content-around">
		<div class="card m-5 bg-dark text-white border-primary" style="max-width: 21rem;">
			
			<embed type="application/pdf" src="10th science 04 (1).pdf" />
					 <div class="caption">
						<h4>  10th science 04  </h4> 
					 </div>
	   
		</div>
		<div class="card m-5 bg-dark text-white border-primary" style="max-width: 21rem;">
			
			<embed type="application/pdf" src="9th motion 08.pdf" />
					 <div class="caption">
						<h4>  9th motion 08  </h4> 
					 </div>
	   
		</div>
	  <div class="card m-5 bg-dark text-white border-primary" style="max-width: 21rem;">
			
			<embed type="application/pdf" src="9th science Ch-2(02).pdf" />
					 <div class="caption">
						<h4>  9th science Ch-2(02) </h4> 
					 </div>
	   
		</div>
	</div>
	<div class="card-deck justify-content-around">
		<div class="card m-5 bg-dark text-white border-primary" style="max-width: 21rem;">
			
			<embed type="application/pdf" src="12th Maths 01.pdf" />
					 <div class="caption">
						<h4>  12th Maths 01 </h4> 
					 </div>
	   
		</div>
		<div class="card m-5 bg-dark text-white border-primary" style="max-width: 21rem;">
			
			<embed type="application/pdf" src="11th chem ch-2.pdf" />
					 <div class="caption">
						<h4>  11th chem ch-2 </h4> 
					 </div>
	   
		</div>
		<div class="card m-5 bg-dark text-white border-primary" style="max-width: 21rem;">
			
			<embed type="application/pdf" src="maths 02.pdf" />
					 <div class="caption">
						<h4>  maths 02  </h4> 
					 </div>
	   
		</div>
	   
    
	</div>
</div>

<%- include("./partials/footer") %>