<!-- <embed type="application/pdf" src="A.R.T ONLINE CLASSES.pdf" height="620px" width="100%"/> -->

<%- include("./partials/header") %> <!-- didn't use .. coz this file n partials r in same directory i.e views -->

<div class="container">
	


<div class = "row text-center"  style="display:flex; flex-wrap: wrap;"><!-- textcenter centres the text in thubnl card-->
	
	<!-- 1st notes start -->
	 <div class="col-md-3 col-sm-6">
		 <div class="thumbnail">
			<embed type="application/pdf" src="A.R.T ONLINE CLASSES.pdf" />
					 <div class="caption">
						<h4>  10/07/2020  </h4> 
					 </div>
		 </div>
      </div>
	<!-- 1st notes end -->
	<div class="col-md-3 col-sm-6 second">
		 <div class="thumbnail">
			<embed type="application/pdf" src="A.R.T ONLINE CLASSES.pdf" />
					 <div class="caption">
						<h4>  10/07/2020  </h4> 
					 </div>
		 </div>
      </div>
	
				
</div>

</div>

<%- include("./partials/footer") %>