body {
	height:100%;
    margin:0%;
    background-color: #000;
}

.intro {
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.5);
  color: white; 
  background-color:rgba(0,0,0,0.65);
  z-index:1;
  /* font-weight: bold; */
  position: relative;
  padding-top: 40vh;/*40vh*/
  padding-bottom: 40vh;/*200px */
}	

 blockquote{
	    /* border-right: 5px solid rgb(245,255,250);
	    border-bottom: 5px solid rgb(245,255,250);
	    border-top: 5px solid rgb(245,255,250);
	    border-left: 5px solid rgb(245,255,250); */
	    padding-left:16px;
	    padding-right:16px;
} 

#author{
	color:white;
}
#text{
	color:white;
} 

/* -------------------BACKGROUND IMAGES SLIDESHOW CSS STARTS HERE-------------------- */
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 25s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1532012197267-da84d127e765?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80); 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 5s; 
}
.slideshow li:nth-child(3) { 
  background-image:url(https://images.unsplash.com/photo-1507878866276-a947ef722fee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80);
  animation-delay: 10s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1453733190371-0a9bedd82893?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80);
  animation-delay: 15s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1569098272587-7af816a8293c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 20s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}


/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}