.thumbnail img{
	width:100%;
}

.thumbnail{
	padding:0;
}

.thumbnail .caption-full{
	padding : 9px;
}

/* rgb(240,248,255) */  
/* rgb(123,104,238) */

body{  
	background-color: rgb(123,104,238);
	
}
anil{
	background-color: rgb(123,104,238);
}
.jumbo{
	background-color: white;
}
.course{
	background-color: white;
}
.location{
	background-color: white;
}

.founder{
	background-color: white;
}
.online{
	background-color: white;
}
.notes{
	background-color: white;
}
/* .second{
	margin-left: 80px;
} */
#form-delete{
	display:inline;
}

.quote-card {
  background: #fff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
	/* rgb(240,255,240) */
  background: rgb(240,255,240);
  /* color: #ffffff; */
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24); 
}
.quote-card p {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}
.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}

/* .embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
} */



